.card {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  height: 400px;
  width: 100%;
  -webkit-box-shadow: -1px 7px 20px 2px rgba(0, 0, 0, 0.43);
  box-shadow: -1px 7px 20px 2px rgba(0, 0, 0, 0.43);
  transition: transform 0.2s ease-in;
}
.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.card:hover {
  transform: scale(1.02);
}
.card-top {
  padding: 25px;
}
.card-title {
  font-weight: 500;
  margin-bottom: 25px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.card-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-user-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}
.card-user ion-icon {
  color: #008cef;
  font-size: 16px;
  margin-right: 2px;
}
.card-user-info,
.card-user-numvideo {
  display: flex;
  align-items: center;
}
.card-user-numvideo ion-icon {
  margin-left: 4px;
}
.card-bottom {
  padding: 25px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-live {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #008cef;
}
.card-live a {
  color: #fff;
}
.card-live span {
  margin-left: 10px;
  font-size: 14px;
}
.card-watching {
  display: flex;
  align-items: center;
}
.card-watching-view {
  font-size: 13px;
  color: #999;
  font-weight: 300;
  margin-right: 4px;
}
.card-watching ion-icon {
  color: #999;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card-top {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-user,
.card-bottom {
  margin-top: auto;
  flex-shrink: 0;
}
.card {
  display: flex;
  flex-direction: column;
}
