.list_input{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding:20px;
    margin-top: 114px;
    margin-bottom: 44px;
}
.item_input{
    line-height: 100px;
}
.btn_content{
    margin-top:20px;
}