/*Silder one*/
.aboutus {
  margin-top: 40px;
  text-align: center;
}
.aboutus__title {
  font-weight: 550;
  font-size: 24px;
  text-transform: uppercase;
}
.list__aboutus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.item__aboutus {
  margin: 18px 0;
}
.item__aboutus * {
  padding: 2px 0;
}
.item__aboutus img {
  width: 120px;
  border-radius: 99px;
  border: none;
}
.item__name__aboutus {
  font-weight: 600;
  margin-top: 8px;
}
.item__content__aboutus {
  font-size: 16px;
}

@media (max-width: 600px) {
  .list__aboutus {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
