.footer {
  margin-top: 20px;
  background-color:  #3333ff;
  padding-top: 24px;
}
.list__socail {
  display: flex;
  justify-content: center;
}
.item__socail {
  padding: 0 20px;
}
.item__socail img {
  width: 40px;
}
.item__socail:hover {
  opacity: 0.6;
}
.title__footer {
  padding: 20px 0;
  text-align: center;
  color: white;
  cursor: default;
}
